/* This CSS is created only for this particular demo */
body {
  background-color: hsl(0, 0%, 98%)
}

button {
	border-radius: none;
	padding: 5px 20px;
	background: white;
	border: 2px solid black;
	font-size: 1.1rem;

}

.zoom:hover img {
transform: scale(1.1);

.mask {
background-color: rgba(140, 107, 58, 0.15);
}