@import url("https://fonts.googleapis.com/css?family=Work+Sans");

* {
  margin: 0;
  padding: 0;
}

::selection {
  background: #00ff02;
  color: #fff;
}

body {
  font-family: "Work-sans", sans-serif;
}

h1 {
  font-size: 80px;
  transition: all 0.2s ease;
  padding: 20px 0;
}

a {
  color: black;
  text-decoration: underline yellow;
  transition: 0.4s all;
}

a:hover {
  background: yellow;
  transition: 0.4s all;
}

h1 span {
  cursor: pointer;
  background: yellow;
}

.container {
  max-width: 1300px;
  margin: 40px 20px;
}

.container-img {
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container-img img {
  width: auto;
  height: 550px;
}

img {
  display: none;
}

.show {
  display: block;
  z-index: 99;
}

.hide {
  display: none;
}

.opacitiy {
  color: white;
}

.h1-hover {
  opacity: 0.1;
}
.techno {
  position: absolute;
  margin: 50px 0px 0 100px;
  h1 {
    margin-bottom: -20px;
  }
}
.techno1 {
  position: absolute;
  margin: 40px 0px 0 230px;
  h1 {
    margin-bottom: -25px;
  }
}
.techno2 {
  position: absolute;
  margin: 40px 0px 0 330px;
  h1 {
    margin-bottom: -21px;
  }
}
.techno3 {
  position: absolute;
  margin: 30px 0px 0 430px;
  h1 {
    margin-bottom: -24px;
  }
}
.techno4 {
  position: absolute;
  margin: 40px 0px 0 530px;
  h1 {
    margin-bottom: -20px;
  }
}
.techno5 {
  position: absolute;
  margin: 40px 0px 0 630px;
  h1 {
    margin-bottom: -33px;
  }
}
.techno6 {
  position: absolute;
  margin: 28px 0px 0 730px;
  h1 {
    margin-bottom: -22px;
  }
}
.techno7 {
  position: absolute;
  margin: 33px 0px 0 830px;
  h1 {
    margin-bottom: -27px;
  }
}
.techno8 {
  position: absolute;
  margin: 40px 0px 0 930px;
  h1 {
    margin-bottom: -31px;
  }
}
.techno9 {
  position: absolute;
  margin: 90px 0px 0 1030px;
  h1 {
    margin-bottom: -22px;
  }
}

.technoMusic {
  position: absolute;
  margin: 40px 0px 0 1030px;
}

.imgBrut {
  margin: 140px 0 0 250px;
  width: 130px;
  height: 80px;
}